.events {
  padding-top: 78px;
  padding-bottom: 77px;
}

.events__head-title {
  margin-bottom: 25px;
}

.events__list {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.events__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 19px 48px 50px;
  margin-bottom: 50px;
  margin-right: 3%;
  max-width: 31.3%;
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  border: 1px solid #CACACA;
}

.events__item:nth-child(3n) {
  margin-right: 0;
}

.event_1 {
  background-image: url(../img/event_1.jpg);
}

.event_2 {
  background-image: url(../img/event_2.jpg);
}

.event_3 {
  background-image: url(../img/event_3.jpg);
}

.event_4 {
  background-image: url(../img/event_4.jpg);
}

.event_5 {
  background-image: url(../img/event_5.jpg);
}

.event_6 {
  background-image: url(../img/event_6.jpg);
}

.events__item-text {
  margin-top: 73%;
}

.small-text  {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999999;
}

.events__date {
  margin-bottom: 4px;
}

.events__title {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  max-width: 98%;
}

.events__descr {
  max-width: 94%;
  margin-bottom: 18px;
  line-height: 200%;
}

.events__more {
  position: absolute;
  bottom: 46px;
  left: 50px;
  color:var(--hover-color);
  text-decoration: underline;
  transition: font-weight .3s ease-in-out, color .3s ease-in-out;
}

.events__more:hover {
  font-weight: bold;
}

.events__more:active {
  font-weight: bold;
  color: var(--outline-color);
}

.all-events {
  padding: 17px 35px;
  margin: 0 auto;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.all-events:focus {
  border: 3px solid var(--outline-color);
  outline: none;
  transition: color .3s ease-in-out;
}

.all-events:hover {
  color: var(--white-color);
}

.event-hidden {
  display: none;
}

.events__slider-container {
  overflow: hidden;
  width: 100%;
}

.events__slider-container .swiper-wrapper {
  flex-wrap: wrap;
}

@media (max-width: 1366px) {
  .events__item-text {
    margin-top: 76%;
  }
}

@media (max-width: 1024px) {
  .events {
    padding-top: 83px;
  }

  .events__item {
    padding: 0 19px 0 36px;
    margin-bottom: 50px;
    min-height: 682px;
    background-size: 113%;
  }

  .events__item-text {
    margin-top: 90%;
  }

  .events__more {
    bottom: 54px;
    left: 37px;
  }
}

@media (max-width: 970px) {
  .events {
    padding-top: 75px;
  }

  .events__head-title {
    margin-bottom: 21px;
  }

  .events__item {
    max-width: 47%;
    margin-right: 5%;
    background-size: 105%;
  }

  .events__item:nth-child(2n) {
    margin-right: 0;
  }

  .events__item:nth-child(3n) {
    margin-right: 5%;
  }
}


@media (max-width: 667px) {

  .events {
    padding-top: 55px;
  }

  .events__head-title {
    margin-bottom: 15px;
  }

  .events__item {
    padding: 0 11px 49px 28px;
    min-width: 100%;
    min-height: 683px;
    margin-right: 0;
    background-size: 115%;
  }

  .events__item-text {
    margin-top: 85%;
  }

  .events__more {
    bottom: 50px;
    left: 30px;
  }

  .all-events {
    display: none;
  }
  .events__slider-container .swiper-wrapper {
    flex-wrap: nowrap;
  }

  .swiper-container-horizontal> .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 18px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
