.projects {
  padding-top: 85px;
  padding-bottom: 80px;
}

.projects__title {
  margin-bottom: 21px;
}

.projects__descr {
  max-width: 67%;
  margin-bottom: 24px;
  line-height: 32px;
}

.projects__link {
  color: var(--hover-color);
  font-weight: 600;
}

.projects__link:hover {
  text-decoration: underline;
}

.projects__link:active {
  color: var(--outline-color);
}


.tooltip-marker {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: var(--white-color);
  border: 1px solid var(--hover-color);
  border-radius: 100%;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.tooltip-marker::after {
  content: 'i';
  position: absolute;
  top: -8px;
  left: 6px;
  color: var(--hover-color);
}

.tooltip {
  position: relative;
}


.tooltip:hover .tooltip-marker {
  background-color: var(--hover-color);
}

.tooltip:hover .tooltip-marker::after {
  color: var(--white-color);
}

.tooltip-popup {
  content: '';
  width: 264px;
  position: absolute;
  left: 50%;
  bottom: calc(100% + 7px);
  transform: translateX(-50%);
  padding: 8px 11px;
  background: #cacaca;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  color: var(--white-color);
}

.tooltip-popup::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #cacaca transparent transparent transparent;
}

.tooltip:hover .tooltip-popup,
.tooltip:hover .tooltip-popup::before {
  opacity: 1;
  visibility: visible;
}

.partners {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 23px;
}

.partners__swiper {
  position: relative;
}

.partners__swiper-container {
  max-width: 1450px;
}

.partners__swiper-slide--link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 150px;
  border: 1px solid #cacaca;
}

.partners__swiper-slide--link:focus {
  outline: none;
  border: 2px solid var(--outline-color);
}

.partners__swiper-slide--img {
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
}

.partners__swiper-slide--link:hover .partners__swiper-slide--img {
  filter: grayscale(0%);
}

.partners__button-prev,
.partners__button-next {
  position: absolute;
  top: 55%;
}

.partners__button-prev {
  left: 0;
}

.partners__button-next {
  right: 0;
}

.partners__button-prev,
.partners__button-next {
  background-color:#ececec;
  border: 2px solid #ececec;
}
